<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>TEVBB.ORG</title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto:300,500,700&display=swap');

        /* -------------------------------------
                GLOBAL
        ------------------------------------- */
        * {
            margin: 0;
            padding: 0;
            font-family: "Roboto", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
            font-size: 16px;
            line-height: 20px;
        }
        img {
            max-width: 100%;
        }
        body {
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: none;
            width: 100%!important;
            height: 100%;
        }
        /* -------------------------------------
                ELEMENTS
        ------------------------------------- */
        a,
        a:default,
        .ii a[href] {
            color: black !important;
            font-weight: 300;
            text-decoration: none;
            transition: ease-in-out 1s all;
        }
        a:hover {
            color: black;
            transition: ease-in-out 1s all;
        }
        .last {
            margin-bottom: 0;
        }
        .first {
            margin-top: 0;
        }
        .padding {
            padding: 10px 0;
        }
        /* -------------------------------------
                BODY
        ------------------------------------- */
        .logo {
          padding-top: 6em;
          padding-bottom: 6em;
        }
        .logo a {
          color: black !important;
          font-size: 64px;
          line-height: 60px;
          border: 8px solid black;
          border-radius: 2px;
          padding: 12px;
        }
        table.body-wrap {
            width: 100%;
            padding: 20px;
            background: #f7f6f4; /* Old browsers */
            background: -moz-linear-gradient(left, #f7f6f4 0%, #fcfaf4 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #f7f6f4 0%,#fcfaf4 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #f7f6f4 0%,#fcfaf4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f6f4', endColorstr='#fcfaf4',GradientType=1 ); /* IE6-9 */            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcf7', endColorstr='#f5f9f0',GradientType=1 ); /* IE6-9 */
          }
        table.body-wrap .container {
            border: 1px solid #f0f0f0;
        }
        .data {
          padding: 4px 14%;
          font-size: 16px;
        }
        .sucess {
          color: green;
        }
        /* -------------------------------------
                FOOTER
        ------------------------------------- */

        table.footer {
          background: #f7f6f4; /* Old browsers */
          background: -moz-linear-gradient(left, #f7f6f4 0%, #fcfaf4 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(left, #f7f6f4 0%,#fcfaf4 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to right, #f7f6f4 0%,#fcfaf4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f6f4', endColorstr='#fcfaf4',GradientType=1 ); /* IE6-9 */            padding-bottom: 3em;
          width: 100% !important;
        }
        table.footer p,
        table.footer a {
          color: black !important;
          max-width: 600px;
          font-size: 14px;
          line-height: 14px;
          text-align: center;
          text-align: justify;
          text-align-last: center;
          hyphens: none;
        }
        /* -------------------------------------
                TYPOGRAPHY
        ------------------------------------- */
        h1, h2, h3 {
            font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            color: #000;
            margin: 40px 0 10px;
            font-weight: 300;
        }
        h1 {
            font-size: 36px;
            line-height: 36px;
            text-transform: uppercase;
        }
        h2 {
            font-size: 28px;
            text-transform: uppercase;
        }
        h3 {
            font-size: 20px;
            border-bottom: 1px solid black;
            padding-bottom: 12px;
        }
        p, ul, ol {
            font-weight: 300;
            font-size: 18px;
            line-height: 32px;
        }
        ul li, ol li {
            margin-left: 5px;
            list-style-position: inside;
        }
        strong {
          font-weight: 700;
        }
        .word-break {
            overflow-wrap: break-word;
            word-wrap: break-word;

            -ms-word-break: break-all;
            /* This is the dangerous one in WebKit, as it breaks things wherever */
            word-break: break-all;
            /* Instead use this non-standard one: */
            word-break: break-word;

            /* Adds a hyphen where the word breaks, if supported (No Blink) */
            -ms-hyphens: auto;
            -moz-hyphens: auto;
            -webkit-hyphens: auto;
            hyphens: auto;
        }
        /* ---------------------------------------------------
                RESPONSIVENESS
                Nuke it from orbit. It's the only way to be sure.
        ------------------------------------------------------ */
        /* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
        .container {
            display: block!important;
            max-width: 1000px!important;
            margin: 0 auto!important; /* makes it centered */
            clear: both!important;
            box-shadow: 1px 1px 12px #ededed !important;
        }
        /* Set the padding on the td rather than the div for Outlook compatibility */
        .body-wrap .container {
            padding: 20px;
        }
        /* This should also be a block element, so that it will fill 100% of the .container */
        .content {
            max-width: 600px;
            margin: 0 auto 6em auto;
            display: block;
        }
        /* Let's make sure tables in the content area are 100% wide */
        .content table {
            width: 100%;
        }
    </style>
</head>

<body>
<!-- body -->
<table class="body-wrap">
    <tr>
        <td></td>
        <td class="container" bgcolor="#FFFFFF">
            <div class="content">
                <table>
                    <tr>
                        <td>
                              <!-- header -->
                            <div align="center" class="logo">
                              <a href="tevbb.org" target="_">TEVBB.ORG</a>
                              <h3>TÜRKISCHER ELTERNVEREIN BERLIN BRANDENBURG </br> SOZIALE DIENSTE gGmbH</h3>
                              <h1>Bewerbung auf eine Stelle als Erzieher/Pädagoge</h1>
                            </div>
                              <!-- /header -->
                            <p>Liebe(r) {{ form.value.jobname|e }},</p>
                            <br/>
                            <br/>
                            <br/>
                            <p>vielen Dank für Deine Bewerbung.
                               Dein Datensatz ist wie folgt bei uns eingangen:</p>
                            <div class="data">
                            {% block content %}
                            {{ content|raw }}
                            {% endblock content %}
                            </div>
                            <p>
                            Ihre Bewerbung wird so schnell wie es geht bearbeitet.
                            Bitte haben Sie Verständnis dafür, wenn die Bearbeitung gegebenenfalls
                            etwas dauern kann - aber wir kümmern uns. Wir werden mit Ihnen Kontakt treten.

                            </p>
                            <p>Wir freuen uns, Sie kennen zu lernen.</p>
                            <br/>
                            <br/>
                            <br/>
                            <p>Ihr TEVBB-Team</p>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td></td>
    </tr>
</table>
<!-- /body -->

<!-- footer -->


                <table class="footer">
                    <tr>
                        <td align="center">
                            <p>Diese E-Mail enthält vertrauliche und/oder rechtlich geschützte Informationen.
                            Wenn Sie nicht der richtige Adressat sind, oder diese E-Mail irrtümlich erhalten haben,
                            informieren Sie bitte den Absender und löschen Sie diese E-Mail.
                            Das unerlaubte Kopieren sowie die unbefugte Weitergabe dieser E-Mail und der
                            darin enthaltenen Informationen sind nicht gestattet.</p>
                            <p><a href="tevbb.org">TEVBB.ORG</a> |
                            <a href="tevbb.org/impress">Impressum</a> |
                            <a href="tevbb.org/datenschutz">Datenschutz</a> |
                            <a href="tevbb.org/careers">Karriere</a></p>
                            <p>© 2019 code: Mr. Bertrand - powered by Grav E-Mail | All rights reserved.
                            License under Creative Commons Attribution 4.0 International (CC BY 4.0)
                            </p>
                        </td>
                    </tr>
                </table>

<!-- /footer -->

</body>
</html>
