<section class="team ptb-100">
    <div class="container">
    {% for member in page.header.members %}

        {% if loop.index % 4 == 1 %}
        <div class="row">
        {% endif %}
            <div class="col-md-4">
                <figure class="thumbnail">
                    <a href="{{ member.url }}">
                        {{ page.media.images[member.image].html('', member.name) }}
                    </a>
                    <figcaption class="caption text-center">
                        <h3>{{ member.name }}{% if member.position %} | 
                            <small>{{ member.position}}</small>
                            {% endif %}
                        </h3>
                    </figcaption>
                </figure>
            </div>
        {% if loop.index == page.header.members.count or loop.index % 3 == 0 %}
        </div>
        {% endif %}

    {% endfor %}
    </div>
</section>
